*.dll
*.exe
*.msi
*.exp
*.lib
*.obj
*.res
*.aps
*.clw
*.ncb
*.opt
*.plg
*.sdf
*.suo
*.vcxproj.user
*.opensdf

#doc
#hold
Debug
Release

CarelessWSPR.pdf
CarelessWSPR.txt
CarelessWSPR.xml
mx.scratch
CarelessWSPR.cfg
CarelessWSPR.elf.cfg
